*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    font-family: var(--system-ui);
}

:root{
    --main-color: #fa7104;
    --second-color: #e05404;
    --text-color: #060414;
    --container-color: #efe8e0;
    --bg-color: #f7f7f7;
    --text-alter-color: #818181;
    --system-ui: system-ui;
    --font-family-2: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    color: var(--text-color);
    background: var(--bg-color);
}

.content { overflow: hidden; }

html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb{ 
    background: var(--main-color); 
    border-radius: 0 5rem 5rem 0; 
}
 
a { text-decoration: none; }

img { width: 100%; }

section { padding: 3rem 0 2rem; }

.container{
    max-width: 1060px;
    margin: auto;
    width: 100%;
}

.span { color: var(--main-color); }





/* =========================================== */
/*       HEADER CSS                            */
/* =========================================== */
header{
    position: fixed;
    top: 20px; left: 0;
    width: 100%;
    z-index: 100;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--text-color);
    padding: 17px 20px;
    border-radius: 0.8rem;
    border: 1px solid var(--main-color);
}

.logo{
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--bg-color);
    text-transform: capitalize;
    font-family: var(--font-family-2);
    transition: .3s ease;
}

.logo span{ color: var(--main-color); }

.logo:hover { color: var(--main-color); }

.logo:hover span { color: var(--bg-color); }

.navbar{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-link{
    font-size: 1.1rem;
    color: var(--text-alter-color);
    font-family: var(--system-ui);
    transition: .4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover{
    color: var(--main-color);
    transition: .4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-icons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-icons .fa{
    color: var(--bg-color);
    font-size: 20px;
}

.nav-icons .user-icon{
    padding: 7px;
    background: var(--main-color);
    border-radius: 50%;
    transition: .3s ease; 
}

.nav-icons .user-icon:hover{
    background: var(--second-color);
}

.menu-icon{
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: .3s ease;
}

.menu-icon div{
    display: block;
    background: var(--bg-color);
    height: 2px; width: 23px;
    transition: .3s ease;
}

.move .line1 { transform: rotate(-45deg) translate(-5px, 5px); }

.move .line2 { opacity: 0; }

.move .line3 { transform: rotate(45deg) translate(-5px, -5px); }





/* =========================================== */
/*       HOME CSS                              */
/* =========================================== */
.home{
    background: #dd4201;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 12rem !important;
    height: 83vh;
}

.home-content { z-index: 1; }

.home-img { position: relative; }

.home-img img { width: 100%; }

.home-img::before{
    width: 100%;
    content: 'Taycan';
    font-size: 11rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2rem;
    position: absolute;
    text-align: center;
    top: -100px;
    color: #ffb28d;
    z-index: -1;
    transform: translateX(-60px);
    transition: transform 2.5s ease, opacity 2.5s ease;
    animation: revealfromright 2.5s ease forwards;
    animation-delay: .4s;
}

@keyframes revealfromright{
    0% { opacity: 0; transform: translateX(-60px); }
    100% { opacity: 1; transform: translateX(0px); }
}

.input-form{
    max-width: 550px;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem; 
    background: var(--bg-color);
    padding: 12px;
    border-radius: .5rem;
}

.input-box{
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}

.input-box span{ font-weight: 500; }

.input-box input{
    outline: none;
    border: none;
    color: var(--text-alter-color);
    background: transparent;
    font-size: .94rem;
    margin-top: 7px;
}

.input-border{
    border-right: 1px solid var(--text-alter-color);
    padding-right: 5px;
}

.search-btn{
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer; 
    transition: .3s ease;   
}

.search-btn:hover{ background: var(--second-color); }





/* =========================================== */
/*       TRENDING CSS                          */
/* =========================================== */
.heading { margin-bottom: 2rem; }

.heading h2{
    font-size: 2.2rem;
    font-weight: 500;
}

.trending-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
}

.trend-box{
    background: var(--container-color);
    border: 2px solid var(--container-color);
    padding: 15px;
    border-radius: 10px;
    transition: background .3s ease ;
}

.trend-box:hover{
    background: #fff;
    border: 2px solid var(--container-color);
    transition: background .3s ease ;
}

.trend-box h4{
    display: inline-block;
    font-family: var(--system-ui);
    background: #fff;
    font-size: 0.8rem;
    padding: 4px 6px;
    border-radius: 4px;
    font-weight: 600;
}

.trend-box:hover h4{ background: var(--container-color); }

.trend-box img{
    margin: 1.4rem 0px 1rem;
    max-height: 145px;
    height: 135px;
}

.trend-box h3{
    font-size: 1.4rem;
    font-family: 500;
}

.trend-box p{
    font-size: .9rem;
    margin-top: 7px;
    color: var(--text-alter-color);
}

.trend-box p span { color: var(--main-color); }





/* =========================================== */
/*       SALES CSS                             */
/* =========================================== */
.sales .heading{ text-align: center; }

.heading p{
    max-width: 550px;
    width: 100%;
    font-size: .9rem;
    font-family: var(--system-ui);
    margin: 1rem auto;
}

.sales-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
}

.sale-box{
    background: var(--container-color);
    padding: 15px;
    border-radius: 10px;
    transition: transform .5s ease;
}

.sale-box:hover{ transform: translateY(-10px); }

.sale-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sale-top h3{
    display: inline-block;
    font-family: var(--font-family-2);
    background: #fff;
    padding: 4px 7px;
    border-radius: 5px;
    font-weight: 600;
}

.sale-top .fa{
    font-size: 20px;
    color: var(--text-alter-color);
    cursor: pointer;
    transition: .3s ease;
}

.sale-top .fa:hover{
    color: var(--main-color);
}

.sale-box img{
    margin: 1.8rem 0px 1rem;
    height: 150px;
    max-height: 160px;
    object-fit: contain;
    object-position: center;
}

.sale-box h2{
    font-size: 1.4rem;
    font-weight: 500;
}

.sale-box h4{
    font-size: .94rem;
    font-weight: 500;
    color: var(--text-alter-color);
    margin-top: 5px;
}

.price-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.price-btn p { font-size: .97rem; }

.price-btn span { color: var(--main-color); }

.sale-btn{
    background: var(--text-color);
    color: var(--bg-color);
    padding: 7px 10px;
    font-size: .97rem;
    border-radius: 4px;
    transition: .4s ease;
}

.sale-btn:hover{
    background: var(--main-color);
}





/* =========================================== */
/*       TEAM CSS                              */
/* =========================================== */
.team .heading{ text-align: center; }

.team-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
}

.team-box img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.team-box h2{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--main-color);
    margin-top: 1rem;
}

.team-box span{
    font-size: .9rem;
    color: var(--text-alter-color);
    font-family: var(--font-family-2);
}

.team-box p{
    font-size: .88rem;
    color: var(--text-alter-color);
    margin-top: 8px;
}





/* =========================================== */
/*       REVIEWS CSS                           */
/* =========================================== */
.reviews .heading { text-align: center; }

.reviews-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.t-box{
    background: var(--container-color);
    padding: 30px;
    border-radius: 10px;
}

.t-box .stars{
    color: var(--main-color);
    font-size: 20px;
}

.t-box p{
    font-size: 1rem;
    margin: 10px 0;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-data h3{
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
}

.profile-data span{
    font-size: .94rem;
    font-weight: 400;
    color: var(--text-alter-color);
}





/* =========================================== */
/*       NEWSLETTER CSS                        */
/* =========================================== */
.newsletter{
    max-width: 1040px;
    width: 90%;
    margin: auto;
}

.newsletter h2{
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
}

.newsletter p { text-align: center; }

.newsletter form{
    max-width: 600px;
    margin: 1.8rem auto auto auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--text-color);
    padding: 7px;
    border-radius: .5rem;
}

.newsletter form input{
    border: none;
    outline: none;
    padding: 0px 20px;
    font-size: 1.17rem;
    background: transparent;
}

.newsletter form .email { width: 100%; }

.newsletter form input::placeholder{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
}

.newsletter form .s-btn{
    background: var(--main-color);
    color: var(--bg-color);
    padding: 14px 24px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .3s ease;
}

.newsletter form .s-btn:hover{
    background: var(--text-color);
}





/* =========================================== */
/*       FOOTER CSS                            */
/* =========================================== */
.footer{
    background-color: var(--text-color);
    color: var(--bg-color);
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 40px 0px 30px;
}

.footer-box{
    display: flex;
    flex-direction: column;
}

.social{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.social a .fa{
    font-size: 20px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 50%;
    padding: 8px 10px;
    margin-right: .8rem;
    transition: .3s ease;
}

.social a .fa:hover{
    color: var(--text-color);
    background: var(--bg-color);
}

.footer-box h3{
    font-size: 1.34rem;
    font-weight: 600;
    color: var(--bg-color);
    margin-bottom: 1rem;
}

.footer-box p { margin-bottom: 8px; }

.footer-box p span{
    display: inline-block;
    width: 50px;
}

.footer-box a{
    color: var(--bg-color);
    margin-bottom: 10px;
    transition: .3s ease;
}

.useful a:hover{
    color: var(--main-color);
    transform: translateX(10px);
}

.contact { line-height: 25px; }

.contact strong { font-size: 1.1rem; }

.copyright{
    padding: 30px;
    color: var(--bg-color);
    text-align: center;
}